@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$main-font:"Roboto", sans-serif;
$main-color:#093028;
$background-color:#F5F5DC;
$accent-color:#FFD700;
$text-color:#FFFFFF;
$oneMore-color:#B87333;
$secondText-color:#CCC7C3;
$block-color:#f6f2e5;
$black-color:#000000;
$mainBackground-color: #fcebd9;
$orange-color: #fe9901;
$mobile-size: 576px;
$tablet-size: 768px;